---
import { getCollection } from "astro:content";
import Header from "../components/header.astro";

const cadEntries = await getCollection("cad");
---

<body>
    <Header />
  <h1>Test Page Here!</h1>

  <p>No idea what to put here, so lorem ipsum yada yada</p>

  <ul>
    {cadEntries.map(item => (
      <li>
        <a href={item.slug ?? item.id}>
          {item.data.title}
        </a>
      </li>
    ))}
  </ul>
</body>
