.item {
    border-radius: 1em;
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 2%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: auto
}
a {
    color: rgb(150, 150, 255);
}

img {
    height: auto;
    width: 25%;
    border-radius: 1em;
}

table, th, td {
  vertical-align: top;
}

@font-face {
  font-family: "MarketDeco";
  src: url("/fonts/market_deco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}