<table>
    <colgroup>
        <!-- This works, and I have no idea why. I recommend not messing with it.-->
        <col span="1" style="width:10%;" />
        <col span="1" style="width:50%;" />
    </colgroup>

    <!-- Header -->
    <tr style="background-color: #212121; color: white">
        <td style="text-align: center; border-radius: 1em;">
            <h1 style="font-family: 'MarketDeco'">TEXAS TORQUE</h1>
        </td>
        <td style="align-content: center; border-radius: 1em;">
            <table style="width: 100%; height:100%;">
                <td>
                    <div style="margin: 2%;">
                        <h2>Torque Learn</h2>
                        <p>A Rookie's Guide to Texas Torque</p>
                    </div>
                </td>
                <td>
                    <div style="float: right; margin: 5%;">
                        <button class="button" onclick="switchMode()">
                            <img
                                id="mode"
                                src="imgs/ref/darkmode.png"
                                style="scale: 50%;"
                            />
                        </button>
                    </div>
                </td>
            </table>
        </td>
    </tr>
</table>
